.image {
  border-radius: 50%;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  > h4 a {
    color: rgb(var(--text-faded)) !important;
    transition: color var(--bg-transition);

    &:hover {
      color: rgb(var(--text)) !important;
    }
  }

  > div:last-child {
    display: flex;
    align-items: center;
    gap: 8px;
    p {
      color: rgb(var(--text-faded));
    }
    a {
      svg {
        fill: rgb(var(--icon-faded)) !important;
        transition: fill var(--bg-transition);
      }
      &:hover svg {
        fill: rgb(var(--icon)) !important;
      }
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;

  > li {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
