@import "./reset.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
}

body {
  color: rgb(var(--text));
  background: rgb(var(--background));
  transition: background 0.2s ease;
  transition: color 0.2s ease;
  overflow-x: hidden;
  // box-sizing: border-box;
}

main {
  padding-top: 74px;
  min-height: 100vh;
  // max-width: 520px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  main {
    max-width: 520px;
  }
}

button,
a {
  cursor: pointer;
  color: rgb(var(--text));
  -webkit-tap-highlight-color: transparent;
}

button {
  outline: none;
  border: none;
  border-radius: 8px;
  height: 28px;
  &:disabled {
    cursor: not-allowed;
  }
}

a {
  text-decoration: none;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

p {
  font-size: 15px;
  font-weight: 400;
  > a {
    color: rgb(var(--text-link));
  }
}
