@import "./reset.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
  transition: background-color var(--bg-transition);
}

html {
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  background-color: orange;
}

body {
  width: 100%;
  color: rgb(var(--text));
  background-color: rgb(var(--background));
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

main {
  padding-top: 74px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  main {
    max-width: 520px;
  }
}

button,
a {
  cursor: pointer;
  color: rgb(var(--text));
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
  border-radius: 8px;
  height: 28px;
  &:disabled {
    cursor: not-allowed;
  }
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
  font-size: 15px;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

h4 {
  font-size: 15px;
  font-weight: 600;
}

h5 {
  font-size: 13px;
  font-weight: 600;
}

p,
li {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  > a {
    color: rgb(var(--text-link));
  }
}
