.wrapper {
  width: 100%;
  padding: 3px;
}

.box {
  height: 100%;
  background-color: rgb(var(--background));
  animation: loadingBackground 1.5s infinite ease-in-out;
  font-weight: 600;
}

@keyframes loadingBackground {
  0% {
    background-color: rgb(var(--background));
  }
  45% {
    background-color: rgb(var(--background-hover));
  }
  55% {
    background-color: rgb(var(--background-hover));
  }
  100% {
    background-color: rgb(var(--background));
  }
}
