.button {
  background-color: rbg(var(--background));
  border: none;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.button:hover,
.button:focus {
  background-color: rgb(var(--background-hover));
}
